.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    position: relative;
}

.sticky_header {
    content: '';
    position: sticky;
    top: 0;
    z-index: 999;
}



.header-logo {
    display: flex;
}

.header-logo img {
    /* width: 150px; */
    width: 30%;
}

.header-menu {
    display: flex;
    justify-content: flex-end;
}

.menu-list a {
    font-size: 24px;
    color: #0b2727;
    font-weight: 600;
    margin: 0 20px;
}

.menu-list a:hover {
    color: black;
}

.menu-list a.active {
    color: #faa935;
}
.header-login {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.header-login a {
    font-size: 18px;
    padding: 6px 12px;
    font-weight: 600;
}

.btn-register {
    border-radius: 50px;
}

.header-login a:last-child {
    border-radius: 50px;
    padding: 7px 24px;
}

.header-login .icon_cart {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-left: 16px;
    color: #0b2727;
}

.icon_cart {
    position: relative;
}

.icon_cart .cart-notice {
    content: '';
    position: absolute;
    font-size: 17px;
    top: 3px;
    right: 5px;
    color: #faa935;
}


/* Mobile */
@media only screen and (max-width: 768px) {
    .menu-mobile {
        display: block;
    }
    .menu-list {
        display: none;
    }
}
/* Ipad */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header-menu {
        display: none; /* Ẩn phần menu mặc định trên màn hình nhỏ */
    }
    .menu-mobile {
        display: block; /* Hiển thị nút menu trên màn hình nhỏ */
    }

    /* Thêm CSS để giới hạn chiều rộng của Drawer khi nó được mở */
    .ant-drawer {
        max-width: 80%; /* Điều chỉnh chiều rộng tối đa của Drawer */
    }
}

/* LapTop */
@media only screen and (min-width: 1024px) {
    .header-menu {
        display: block; /* Hiển thị phần menu mặc định trên màn hình lớn */
    }
    .menu-mobile {
        display: none; /* Ẩn nút menu trên màn hình lớn */
    }
}

.offcanvas-body a {
    font-size: 24px;
    color: #0b2727;
    display: block;
    padding: 24px 0;
}
