.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    position: sticky;
}

.header-logo {
    display: flex;
    
}

.header-logo img {
    /* width: 150px; */
    width: 30%;
}

.header-menu {
    display: flex;
    justify-content: flex-end;
}

.menu-list a {
    font-size: 24px;
    color: #0b2727;
    font-weight: 600;
    margin:  0 20px;
}

.menu-list a:hover {
    color: black;
}

.menu-list a:active {
    color: #faa935;
}
.header-login {
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.header-login a {
    font-size: 18px;
    padding: 6px 12px;
    font-weight: 600;
}

.btn-register {
    border-radius: 50px;
}

.header-login a:last-child {
    border-radius: 50px;
    padding: 7px 24px;
}